
/* ---------- Mobile view ----------*/

@media(max-width: 576px){ 
	body{
		background-image: url("Image/janko-ferlic-sfL_QOnmy00-unsplash.jpg");
		background-repeat: no-repeat;
	}

	#form{
		width: 300px;
		height: 300px;
		margin-top: 45%;
		margin-left: 11%;
	}

	#username-label{
		color: #ffffff;
		font-family: 'Teko', sans-serif;
		margin-top: 50px;
		float: left;
		font-size: 20px;
	}

	#username-entry-box{
		width: 180px;
		float: right;
		margin-top: 45px;
	}

	#password-label{
		color: #ffffff;
		font-family: 'Teko', sans-serif;
		float: left;
		margin-left: -80px;
		margin-top: 110px;
		font-size: 20px;

	}

	#password-entry-box{
		width: 180px;
		float: right;
		margin-top: 30px;
	}

	#login-button{
		margin-left: 85px;
		clear: both;
		margin-top: -180px;
		width: 100px;
	}

	#register-button{
		width: 250px;
		clear: both;
		margin-top: 100px;
		margin-left: 10px;
	}
}

/* ---------- Medium devices view ---------- */

@media(min-width: 576px) and (max-width: 768px){
	body{
		background-image: url("Image/janko-ferlic-sfL_QOnmy00-unsplash.jpg");
		background-repeat: no-repeat;
	}

	#form{
		width: 600px;
		height: 600px;
	}

	#username-label{
		color: #ffffff;
		font-family: 'Teko', sans-serif;
		margin-top: 200px;
		margin-left: 50px;
		float: left;

	}

	#password-label{
		color: #ffffff;
		font-family: 'Teko', sans-serif;
		float: left;
		margin-top: 300px;
		margin-left: -63px;

	}

	#username-entry-box{
		width: 400px;
		float: right;
		margin-top: 200px;
		margin-right: 20px;
	}

	#password-entry-box{
		width: 400px;
		float: right;
		margin-top: 65px;
		margin-right: 20px;
	}

	#login-button{
		margin-top: -66px;
		margin-left: 160px;
		width: 100px;
	}

	#register-button{
		margin-top: 50px;
		margin-left: 300px;
	}


}

/* ---------- Desktop view ----------*/

@media(min-width: 769px){
	body{
		background-color: #2a2c2f;
		background-image: url("Image/janko-ferlic-sfL_QOnmy00-unsplash.jpg");
		background-repeat: no-repeat;
	}

	#form{
		width: 600px;
		height: 600px;
		margin-left: 25%;

	}

	#username-label{
		color: #ffffff;
		font-family: 'Teko', sans-serif;
		margin-top: 200px;
		margin-left: 50px;
		float: left;

	}

	#password-label{
		color: #ffffff;
		font-family: 'Teko', sans-serif;
		float: left;
		margin-top: 300px;
		margin-left: -63px;

	}

	#username-entry-box{
		width: 400px;
		float: right;
		margin-top: 200px;
		margin-right: 20px;
	}

	#password-entry-box{
		width: 400px;
		float: right;
		margin-top: 65px;
		margin-right: 20px;
	}

	#login-button{
		margin-top: -66px;
		margin-left: 160px;
		width: 100px;
	}

	#register-button{
		margin-top: 50px;
		margin-left: 300px;
	}

}

